<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="imb.ridiqirici.plugin.cordova.universal"
    version="1.5.10">

  <name>IMB_Plugin</name>
  <description>Plugin per printimet me pajisjet mobile</description>
  <repo>https://github.com/RidiQirici/IMB_Plugin</repo>
  <license>Apache 2.0</license>
  <keywords>cordova, plugin, imb</keywords>

  <author>Ridi Qirici</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/imb_plugin.js" name="ImbPrintPlugin">
    <clobbers target="cordova.plugins.imb_plugin" />
  </js-module>

  <asset src="www/imb_plugin.js" target="imb_plugin.js" />

   <!-- android -->
  <platform name="android"> 

    <source-file src="src/android/Plugin.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/KrijuesPrinter.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/Mesazh.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/Printer.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/PrinterEnum.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/PrinterWoosim.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/PrinterZebra.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/PrinterEM55.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/ApplicationContext.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
    <source-file src="src/android/DeviceControl.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />

    <source-file src="src/android/lib/arm64-v8a/libserialportprinter.so" target-dir="libs/arm64-v8a"/>
    <source-file src="src/android/lib/armeabi/libserialportprinter.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/lib/armeabi-v7a/libserialportprinter.so" target-dir="libs/armeabi-v7a"/>
    
    <!-- <source-file src="src/android/PrinterPC700.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" /> -->
    <source-file src="src/android/PrinterPDA3505.java" target-dir="src/imb/ridiqirici/plugin/cordova/universal" />
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Plugin">
          <param name="android-package" value="imb.ridiqirici.plugin.cordova.universal.Plugin" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
      </config-file>

    <resource-file src="src/android/lib/woosimprinter_bt.jar" target-dir="libs" framework="true"/>
    <!-- <source-file src="src/android/lib/pc700Print.jar" target-dir="libs" framework="true"/> -->
    <resource-file src="src/android/lib/ZSDK_ANDROID_API.jar" target-dir="libs" framework="true"/>
    <resource-file src="src/android/lib/pda3505Print.jar" target-dir="libs" framework="true"/>
    <resource-file src="src/android/lib/regoPrintLibV3.0.05(1).jar" target-dir="libs" framework="true"/>
  </platform>
</plugin>